################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TPublish/packages
/TPublish/.vs
/TPublish/TPublish.Web/obj/Debug
/TPublish/TPublish.Web/bin
/TPublish/TPublish.Web/TPublish.Web.csproj.user
/TPublish/TPublish.Common/obj/Debug
/TPublish/TPublish.Common/bin/Debug
/TPublish/TPublish.TestExe/obj/Debug
/TPublish/TPublish.TestExe/bin/Debug
