################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/TPublish/packages
/TPublish/.vs
/TPublish/TPublish.Web/obj/Debug
/TPublish/TPublish.Web/bin
/TPublish/TPublish.Web/TPublish.Web.csproj.user
/TPublish/TPublish.Common/obj/Debug
/TPublish/TPublish.Common/bin/Debug
/TPublish/TPublish.TestExe/obj/Debug
/TPublish/TPublish.TestExe/bin/Debug
/TPublish/TPublish.ClientVsix/obj/Debug
/TPublish/TPublish.ClientVsix/bin/Debug
/TPublish/TPublish.CommonTests/obj/Debug
/TPublish/TPublish.CommonTests/bin/Debug
/TPublish/TPublish.Web/Logs/ExceptionLog/20180823
/TPublish/TPublish.Web/ZipFiles
/TPublish/TPublish.Web/Logs/ExceptionLog/20180910
TPublishUIDemo/.vscode/settings.json
/TPublishUIDemo/.vs/TPublishUIDemo/v15
/TPublishUIDemo/.vs/slnx.sqlite
/TPublishUIDemo/.vs/VSWorkspaceState.json
/TPublish/TPublish.VsixClient2019/obj
/TPublish/TPublish.VsixClient2019/bin/Debug
/TPublish/TPublish.VsixClient2019/bin
